name: Build CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      actions: write
      contents: read
      pull-requests: write

    steps:
    - uses: actions/checkout@v4

    - name: set up JDK 21
      uses: actions/setup-java@v5
      with:
        java-version: '21'
        distribution: 'zulu'

    - name: Assemble with Gradle
      run: ./gradlew assemble

    - name: Run tests with coverage
      run: ./gradlew koverXmlReport

    - name: Add singleton module coverage report to PR
      if: ${{ github.event_name == 'pull_request' }}
      uses: mi-kas/kover-report@v1
      with:
        path: ${{ github.workspace }}/singleton/build/reports/kover/report.xml
        title: Singleton Module Code Coverage
        update-comment: true

    - name: Add test module coverage report to PR
      if: ${{ github.event_name == 'pull_request' }}
      uses: mi-kas/kover-report@v1
      with:
        path: ${{ github.workspace }}/test/build/reports/kover/report.xml
        title: Test Module Code Coverage
        update-comment: true
